.card {
  margin-bottom: 20px;
  flex: 1;
  .index {
    font-weight: bold;
    font-size: larger;
    margin-right: 0.8em;
  }
  .body {
    flex: 1;
    .tabs {
      margin-bottom: 16px;
    }
    .option-input {
      width: calc(100% - 30px);
    }
    .operation-button-inner {
      margin: 0px 5px;
      color: #999;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: #555;
      }
    }
  }
  .options {
    margin: 0.5em 0 0 0;
  }
}
.operation {
  width: 40px;
  height: 100%;
  .operation-button {
    margin: 8px 0;
    color: #999;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: #555;
    }
    &.disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}
